[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]
vampy_util = "==1.1.14"
pyspark = "==2.2.1"
"boto3" = "==1.5.29"
botocore = "==1.8.43"
certifi = "==2018.1.18"
chardet = "==3.0.4"
docutils = "==0.14"
idna = "==2.6"
jmespath = "==0.9.3"
gcloud = "*"
google-cloud = "*"
python-dateutil = "==2.6.1"
requests = "==2.18.4"
"s3transfer" = "==0.1.13"
"urllib3" = "==1.22"
"psycopg2" = "*"
pyyaml = "*"
pandas = "*"

[dev-packages]
pylint = "*"
pytest = "*"
#airflow = "*"
